.logo {
    float: left;
}

.logo img {
    width: 200px;
    height: auto;
}

ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

li {
    margin: 10px;
    display: inline-block;
}

li a {
    color: #000000;
    text-decoration: none;
}

.info {
    padding: 40px 0;
}

.info-item {
    float: left;
}

.info-item img {
    width: 20px;
    height: auto;
}

.info-item a {
    color: #669589;
}