:root {
    --color1: #00d6cb;
    --color2: #400754;
}


tbody tr {
    background-color: #00CED1;
    font-size: 18px;
}

table {
    background-color:#00CED1;
    font-size: 18px;
    text-align: center;
}

.table-my table{
  background-color: white;
  font-size: 14px;
}

.table-my tbody tr thead{
  background-color: white;
  font-size: 14px;
}

.checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.checkbox__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.checkbox__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.checkbox__custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.checkbox__input:checked + .checkbox__label .checkbox__custom {
  background-image: linear-gradient(145deg,#e81cff, #40c9ff);
  transform: rotate(45deg) scale(0.8);
}
.checkbox__label:hover .checkbox__custom {
  transform: scale(1.2);
}


.search {
  display: inline-block;
  position: relative;
}
.search input[type="text"] {
  width: 400px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search button[type="submit"] {
  background-color: #00d6cb;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: .9s ease;
}
.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: blue;
}

.error {
color: red;
}

.active {
  background-color: aqua;
  border: 2px solid black;
}
