:root {
    --color1: #00d6cb;
    --color2: #400754;
}
.about {
    background: #0a4b78;
    padding: 100px 0;
    color: white;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
    font-family: "Times New Roman", serif;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 87%;
}

header {
    padding: 20px 0;
    height: 22%;
}

footer {
    padding: 11px 0;
    left:0px;
    bottom:0px;
    height: 11%;
}

header, footer {
    background: var(--color1);
    background: -moz-linear-gradient(left,  var(--color1) 0%, var(--color2) 100%);
    background: -webkit-linear-gradient(left,  var(--color1) 0%, var(--color2) 100%);
    background: linear-gradient(to right,  var(--color1) 0%, var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color2),GradientType=1 );
}
.header-icon i {
    margin: 0 auto 15px;
    width: 10vh;
    height: 10vh;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 10px;
    font-size: 20px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 10px;
}

.col-75 input[type=text], textarea {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.col-75 select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}